# This exercise is to test your knowledge in
1. Input/Output functions
2. Variables and Literals
3. Assignment Operators
4. Arithmetic Operators

**Exercise 1: Print Function**

Write a Python program to print the following string in a specific format (see the output).

```
Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are
```

In [1]:
print("Twinkle, twinkle, little star,")
print("\tHow I wonder what you are!")
print("\t\tUp above the world so high,")
print("\t\tLike a diamond in the sky.")
print("Twinkle, twinkle, little star,")
print("\tHow I wonder what you are")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are

**Exercise 2: Input and Print Function**

Write a Python program that accepts the user's first and last name and prints them in reverse order with a space between them.

Sample Output

```
Input your First Name: Dany
Input your Last Name : Boon
Hello  Boon Dany

```

In [2]:
first_name = input("Input your First Name: ")
last_name = input("Input your Last Name: ")
print("Hello", last_name, first_name)

Input your First Name:  Dany
Input your Last Name:  Boon

Hello Boon Dany

**Exercise 3: Basic Arithmetic Operations**

Write a Python program that does the following:

Prompts the user to enter two numbers.
Stores these numbers in two variables.
Performs and prints the results of addition, subtraction, multiplication, and division of these two numbers.

In [ ]:
num1 = 5
num2 = 15
print(num1 + num2) # addition
print(num1 - num2) # subtraction
print(num1 * num2) # multiplication
print(num1 / num2) # division

20
-10
75
0.3333333333333333

In [4]:
# Python program to perform basic arithmetic operations

# Prompt user to enter two numbers
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

# Perform operations
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2 if num2 != 0 else "Undefined (division by zero)"

# Print the results
print(f"The addition of {num1} and {num2} is: {addition}")
print(f"The subtraction of {num1} from {num2} is: {subtraction}")
print(f"The multiplication of {num1} and {num2} is: {multiplication}")
print(f"The division of {num1} by {num2} is: {division}")

Enter the first number:  5
Enter the second number:  15

The addition of 5.0 and 15.0 is: 20.0
The subtraction of 5.0 from 15.0 is: -10.0
The multiplication of 5.0 and 15.0 is: 75.0
The division of 5.0 by 15.0 is: 0.3333333333333333

**Exercise 4: Basic Series Problem**

Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn.

```
Sample value of n is 5
Expected Result : 615
```

In [4]:
# Read the number n from the user
n = int(input("Enter a number n: "))

# Compute n+nn+nnn
result = n + (n * 10 + n) + (n * 100 + n * 10 + n)

# Print the result
print("Result:", result)

Result: 615

In [5]:
# Prompt the user to input an integer
n = input("Enter an integer: ")

# Compute n, nn, nnn
nn = n * 2
nnn = n * 3

# Convert to integer and compute the result
result = int(n) + int(nn) + int(nnn)

# Print the result
print("The result of n + nn + nnn is:", result)

Enter an integer:  5

The result of n + nn + nnn is: 615

**Exercise 5: Temperature Converter**

Write a Python program that:

Prompts the user to enter a temperature in Celsius.
Converts the temperature to Fahrenheit.
Prints the temperature in Fahrenheit.

(Hint: The formula to convert Celsius to Fahrenheit is: F = C * 9/5 + 32)

In [6]:
# Prompt the user to enter a temperature in Celsius
celsius = float(input("Enter temperature in Celsius: "))

# Convert Celsius to Fahrenheit
fahrenheit = celsius * 9 / 5 + 32

# Print the temperature in Fahrenheit
print("The temperature in Fahrenheit is:", fahrenheit)

Enter temperature in Celsius:  25

The temperature in Fahrenheit is: 77.0

**Exercise 6: Area and Perimeter of a Rectangle**

Write a Python program that:

Prompts the user to enter the length and width of a rectangle.
Calculates the area and perimeter of the rectangle.
Prints the area and perimeter of the rectangle.

In [7]:
# Prompt the user to enter the length and width of the rectangle
length = float(input("Enter the length of the rectangle: "))
width = float(input("Enter the width of the rectangle: "))

# Calculate the area and perimeter
area = length * width
perimeter = 2 * (length + width)

# Print the results
print("The area of the rectangle is:", area)
print("The perimeter of the rectangle is:", perimeter)

Enter the length of the rectangle:  5
Enter the width of the rectangle:  3

The area of the rectangle is: 15.0
The perimeter of the rectangle is: 16.0

**Example 7: Volume of a Sphere**

A sphere is a three-dimensional solid with no face, no edge, no base and no vertex. It is a round body with all points on its surface equidistant from the center. The volume of a sphere is measured in cubic units.

The volume of the sphere is : V = 4/3 × π × r3 = π × d3/6.

![sphere.png]()

In [8]:
# Define the value of pi and assign 3.142
pi = 3.142

radius = float(input("Enter the radius of the sphere: "))
volume = (4/3) * pi * (radius ** 3)
print("The volume of the sphere using radius: ", float(volume))

The volume of the sphere using radius:  523.6666666666666

**Exercise 8: Simple Interest Calculator**

Write a Python program that:

Prompts the user to enter the principal amount, rate of interest, and time in years.
Calculates the simple interest amount and print the total amount to be paid.

(Hint: The formula to calculate simple interest is: SI = (P * R * T) / 100

Please note you suppose to print the total amount which is principle + simple interest)

In [8]:
# Simple Interest Calculator

# Prompt the user for input
principal = float(input("Enter the principal amount: "))
rate_of_interest = float(input("Enter the rate of interest: "))
time_in_years = float(input("Enter the time in years: "))

# Calculate the simple interest
simple_interest = (principal * rate_of_interest * time_in_years) / 100

# Calculate the total amount to be paid
total_amount = principal + simple_interest

# Print the results
print(f"The simple interest is: {simple_interest}")
print(f"The total amount to be paid is: {total_amount}")

Enter the principal amount:  100
Enter the rate of interest:  3.1
Enter the time in years:  12

The simple interest is: 37.2
The total amount to be paid is: 137.2

**Exercise 10: Swapping Two Variables**

Write a Python program that:

Prompts the user to enter two numbers.
Swaps the values of the two variables.
Prints the values before and after swapping.

In [9]:
# Program to swap two numbers

# Prompt the user to enter two numbers
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

# Print values before swapping
print("Before swapping: ", num1, num2)

# Swap the values of the two variables
num1, num2 = num2, num1

# Print values after swapping
print("After swapping: ", num1, num2)

Enter the first number:  3
Enter the second number:  6

Before swapping:  3.0 6.0
After swapping:  6.0 3.0

**Exercise 11: Square and Cube**

Write a Python program that:

Prompts the user to enter a number.
Calculates the square and cube of the number.
Prints the square and cube of the entered number.


```
Enter a number givennumber 3
Square of 3:  9
Cube of 3: 27
```

In [11]:
# Prompts the user to enter a number
given_number = int(input("Enter a number givennumber: "))

# Calculates square and cube of givennumber
square_of_given_number = (given_number * given_number)
cube_of_given_number = (given_number * given_number * given_number)

# Print the square and cube of the input number
print("Square of", given_number, ":", square_of_given_number)
print("Cube of", given_number, ":", cube_of_given_number)

Square of 10 : 100
Cube of 10 : 1000

In [11]:
# Program to calculate the square and cube of a number

# Prompt the user to enter a number
number = float(input("Enter a number: "))

# Calculate the square and cube of the number
square = number ** 2
cube = number ** 3

# Print the square and cube
print(f"Square of {number}: {square}")
print(f"Cube of {number}: {cube}")

Enter a number:  10

Square of 10.0: 100.0
Cube of 10.0: 1000.0

**Exercise 12: Calculate BMI**

Write a Python program that:

Prompts the user to enter their weight in kilograms and height in meters.
Calculates the Body Mass Index (BMI).
Prints the BMI.

Hint: The formula to calculate BMI is: BMI = weight / (height * height)

In [12]:
# Prompts the user to enter their weight in kilograms and height in meters.
weight = float(input("Enter your weight in kilograms: "))
height = float(input("Enter you height in meters: "))

# Calculates the Body Mass Index(BMI)
# The Formula of BMI given is: BMI = weight/height * height
BMI = (weight / (height * height))

# Print the value of BMI
print("Your BMI is: ", BMI)

Your BMI is:  0.002109619051482819

In [16]:
# BMI Calculator

# Prompt the user to enter their weight and height
weight = float(input("Enter your weight in kilograms: "))
height = float(input("Enter your height in meters: "))

# Calculate the BMI
bmi = weight / (height * height)

# Print the BMI
print(f"Your Body Mass Index (BMI) is: {bmi:.2f}")

Enter your weight in kilograms:  53
Enter your height in meters:  1.57

Your Body Mass Index (BMI) is: 21.50

**Exercise 13: Compound Interest Calculator**

Write a Python program that:

Prompts the user to enter the principal amount, rate of interest, time in years, and number of times interest is compounded per year. Calculates the compound interest. Prints the compound interest.

(Hint: The formula to calculate compound interest is:
**A=P(1+R/100n)nt**
where
A is the amount,
P is the principal amount,
R is the annual interest rate,
t is the time the money is invested for, and
n is the number of times interest is compounded per year)

In [17]:
# Compound Interest Calculator

# Prompt the user to enter the principal amount, rate of interest, time, and number of times compounded per year
principal = float(input("Enter the principal amount: "))
rate_of_interest = float(input("Enter the annual rate of interest (in %): "))
time_in_years = float(input("Enter the time in years: "))
compounding_frequency = int(input("Enter the number of times interest is compounded per year: "))

# Calculate the compound interest
amount = principal * (1 + (rate_of_interest / (100 * compounding_frequency))) ** (compounding_frequency * time_in_years)
compound_interest = amount - principal

# Print the compound interest
print("The compound interest is: {:.2f}".format(compound_interest))

Enter the principal amount:  1000
Enter the annual rate of interest (in %):  3.1
Enter the time in years:  12
Enter the number of times interest is compounded per year:  12

The compound interest is: 449.94

**Exercise 14: Digital Root**

Compute the digital root of 97865. The digital root is the single-digit value obtained by iteratively summing the digits of the number until a single digit is obtained. Digital Root of 97865 is 8

In [15]:
digital_root = 97865
sum_of_digits = 0

# Calculate the sum of digits given
digital_root = str(9 + 7 + 8 + 6 + 5)
sum_of_digits = str(3 + 5)
print(sum_of_digits)

8

In [18]:
# Function to calculate the digital root
def digital_root(number):
    while number >= 10:  # Continue until it's a single-digit number
        number = sum(int(digit) for digit in str(number))
    return number

# Example
number = 97865
result = digital_root(number)
print(f"The digital root of {number} is {result}")

The digital root of 97865 is 8

**Exercise 15: Calculate the number of bits**

Calculate how many bits are needed to represent 35 in binary.

In [16]:
given_number = 35
temp_number = str(given_number)
binary_output = 0

# calculatebinarynumber = (35 // 2 = 17, 35 % 2 = 1)
# calculatebinarynumber = (17 // 2 = 8, 17 % 2 = 1)
# calculatebinarynumber = (8 // 2 = 4, 8 % 2 = 0)
# calculatebinarynumber = (4 // 2 = 2, 4 % 2 = 0)
# calculatebinarynumber = (2 // 2 = 1, 2 % 2 = 0)
# calculatebinarynumber = (1 // 2 = 0, 1 % 2 = 1)

temp_number_a = given_number % 2
given_number = given_number // 2

temp_number_b = given_number % 2
given_number = given_number // 2

temp_number_c = given_number % 2
given_number = given_number // 2

temp_number_d = given_number % 2
given_number = given_number // 2

temp_number_e = given_number % 2
given_number = given_number // 2

temp_number_f = given_number % 2
given_number = given_number // 2

binary_output = str(temp_number_f) + str(temp_number_e) + str(temp_number_d) + \
                str(temp_number_c) + str(temp_number_b) + str(temp_number_a)

print("The binary number for 35 is: ", binary_output)
print(len(binary_output), "bits")

The binary number for 35 is:  100011
6 bits

**Exercise 16: Find Position**

Find the Position of the First Occurrence of a Digit. Find the position of the first occurrence of a 8 in 97865. Positions are zero-based. Since it is zero-based, 8 is in position 2

In [17]:
given_number = 97865
temp_number = str(given_number)
position = 0

position = len(temp_number)

position_a = given_number % 2
given_number = given_number // 2
position_a = position_a - 1

position_b = given_number % 2
given_number = given_number // 2
position_b = position_b + 1

position_c = given_number % 2
given_number = given_number // 2
position_c = position_c + 2

print("The position of digit 8 is: ", position_c)

The position of digit 8 is:  2

In [18]:
given_number = 97865
temp_number = str(given_number)
number_to_find = 8
result = 0

current_position = 0
remainder = given_number % 10

if (remainder == 8):
    current_position = 4
else:
    current_position = current_position
temp_number = given_number % 10
given_number = given_number // 10

if (remainder == 8):
    current_position = 3
else:
    current_position = current_position + 1
temp_number = given_number % 10
given_number = given_number // 10

if (remainder == 8):
    current_position = 2
else:
    current_position = current_position + 1
temp_number = given_number % 10
given_number = given_number // 10

result = current_position

print("The position of digit 8 is: ", result)

The position of digit 8 is:  2

In [19]:
# Function to find the position of the first occurrence of a digit
def find_first_occurrence(number, digit):
    number_str = str(number)  # Convert the number to a string
    return number_str.index(str(digit))  # Find the index of the digit

# Example
number = 97865
digit = 8
position = find_first_occurrence(number, digit)
print(f"The position of the first occurrence of {digit} in {number} is {position}.")

The position of the first occurrence of 8 in 97865 is 2.

**Exercise 17: Find Number of Full Weeks and Extra Days**

Number of days 18, determine how many full weeks and extra days that number represents.

Result: 2 weeks 4 days

In [19]:
number_of_days = 18
weeks = number_of_days // 7
days = number_of_days % 7
print(weeks, "weeks", days, "days")

2 weeks 4 days

In [20]:
# Function to calculate full weeks and extra days
def calculate_weeks_and_days(days):
    weeks = days // 7  # Calculate full weeks
    extra_days = days % 7  # Calculate remaining days
    return weeks, extra_days

# Example
days = 18
weeks, extra_days = calculate_weeks_and_days(days)
print(f"{days} days = {weeks} weeks and {extra_days} days")

18 days = 2 weeks and 4 days

**Exercise 18: Convert Seconds to Hours, Minutes and Seconds**

Convert 3665 seconds into hours, minutes, and seconds.

Result: 1 Hours 1 Minutes 5 Seconds

In [20]:
seconds = 3665

# Convert seconds to hours, minutes and seconds
hours = seconds // 3600
seconds = seconds % 3600
minutes = seconds // 60
seconds = seconds % 60

# Print the results
print(hours, "Hours", minutes, "Minutes", seconds, "Seconds")

1 Hours 1 Minutes 5 Seconds

In [21]:
# Function to convert seconds into hours, minutes, and seconds
def convert_seconds(total_seconds):
    hours = total_seconds // 3600  # Calculate hours
    remaining_seconds = total_seconds % 3600
    minutes = remaining_seconds // 60  # Calculate minutes
    seconds = remaining_seconds % 60  # Calculate remaining seconds
    return hours, minutes, seconds

# Example
total_seconds = 3665
hours, minutes, seconds = convert_seconds(total_seconds)
print(f"{total_seconds} seconds = {hours} Hours, {minutes} Minutes, {seconds} Seconds")

3665 seconds = 1 Hours, 1 Minutes, 5 Seconds

**Exercise 19: Convert 97409 to Binary**

Write a Python program that:

Converts the given integer 97409 to its binary representation.
Prints the binary representation.

In [21]:
given_number = 97409
temp_number = str(given_number)
print("The integer value given is: ", temp_number)

temp_number_a = given_number % 2
given_number = given_number // 2

temp_number_b = given_number % 2
given_number = given_number // 2

temp_number_c = given_number % 2
given_number = given_number // 2

temp_number_d = given_number % 2
given_number = given_number // 2

temp_number_e = given_number % 2
given_number = given_number // 2

temp_number_f = given_number % 2
given_number = given_number // 2

temp_number_g = given_number % 2
given_number = given_number // 2

temp_number_h = given_number % 2
given_number = given_number // 2

temp_number_i = given_number % 2
given_number = given_number // 2

temp_number_j = given_number % 2
given_number = given_number // 2

temp_number_k = given_number % 2
given_number = given_number // 2

temp_number_l = given_number % 2
given_number = given_number // 2

temp_number_m = given_number % 2
given_number = given_number // 2

temp_number_n = given_number % 2
given_number = given_number // 2

temp_number_o = given_number % 2
given_number = given_number // 2

temp_number_p = given_number % 2
given_number = given_number // 2

temp_number_q = given_number % 2
given_number = given_number // 2

print("The binary number is: ", temp_number_q, temp_number_p, temp_number_o, \
temp_number_n, temp_number_m, temp_number_l, temp_number_k, temp_number_j, \
temp_number_i, temp_number_h, temp_number_g, temp_number_f, temp_number_e, \
temp_number_d, temp_number_c, temp_number_b, temp_number_a, sep="")

The integer value given is:  97409
The binary number is: 10111110010000001

In [22]:
given_number = 97409
temp_number = str(given_number)
print("The integer value given is: ", temp_number)
binary_output = 0

temp_number_a = given_number % 2
given_number = given_number // 2
print(temp_number_a)

temp_number_b = given_number % 2
given_number = given_number // 2
print(temp_number_b)

temp_number_c = given_number % 2
given_number = given_number // 2
print(temp_number_c)

temp_number_d = given_number % 2
given_number = given_number // 2
print(temp_number_d)

temp_number_e = given_number % 2
given_number = given_number // 2
print(temp_number_e)

temp_number_f = given_number % 2
given_number = given_number // 2
print(temp_number_f)

temp_number_g = given_number % 2
given_number = given_number // 2
print(temp_number_g)

temp_number_h = given_number % 2
given_number = given_number // 2
print(temp_number_h)

temp_number_i = given_number % 2
given_number = given_number // 2
print(temp_number_i)

temp_number_j = given_number % 2
given_number = given_number // 2
print(temp_number_j)

temp_number_k = given_number % 2
given_number = given_number // 2
print(temp_number_k)

temp_number_l = given_number % 2
given_number = given_number // 2
print(temp_number_l)

temp_number_m = given_number % 2
given_number = given_number // 2
print(temp_number_m)

temp_number_n = given_number % 2
given_number = given_number // 2
print(temp_number_n)

temp_number_o = given_number % 2
given_number = given_number // 2
print(temp_number_o)

temp_number_p = given_number % 2
given_number = given_number // 2
print(temp_number_p)

temp_number_q = given_number % 2
given_number = given_number // 2
print(temp_number_q)

binary_output = str(temp_number_q) + str(temp_number_p) + str(temp_number_o) + \
                str(temp_number_n) + str(temp_number_m) + str(temp_number_l) + str(temp_number_k) + \
                str(temp_number_j) + str(temp_number_i) + str(temp_number_h) + str(temp_number_g) \
                + str(temp_number_f) + str(temp_number_e) + str(temp_number_d) + str(temp_number_c) \
                + str(temp_number_b) + str(temp_number_a)

print("The binary number is: ", binary_output)

The integer value given is:  97409
1
0
0
0
0
0
0
1
0
0
1
1
1
1
1
0
1
The binary number is:  10111110010000001

In [22]:
# Convert an integer to binary
number = 97409
binary_representation = bin(number)[2:]  # Convert to binary and remove the '0b' prefix
print(f"The binary representation of {number} is {binary_representation}")

The binary representation of 97409 is 10111110010000001

**Exercise 20: Convert 1011 to Decimal**

Write a Python program that:

Converts the given binary 1011 to its decimal representation. Prints the decimal representation.

In [23]:
# State the given binary number is
binary_number = 1011
temp_number = int(binary_number)
decimal = 0

# Arithmetic expresion to get Remainder and Quotient value
# Steps to calculate the remainder of a division operation between two numbers
# Steps to allows you to force certain arguments by position

temp_number_a = binary_number % 10
binary_number = binary_number // 10

temp_number_b = binary_number % 10
binary_number = binary_number // 10

temp_number_c = binary_number % 10
binary_number = binary_number // 10

temp_number_d = binary_number % 10
binary_number = binary_number // 10

# Convert binary to decimal using formula
# 1 X 2^0 = 1 X 1 = 1 (decimal_d)
# 1 X 2^1 = 1 X 2 = 2 (decimal_c)
# 1 X 2^2 = 0 X 4 = 0 (decimal_b)
# 1 X 2^3 = 1 X 8 = 8 (decimal_a)

decimal_d = temp_number_d * (2**3)

decimal_c = temp_number_c * (2**2)

decimal_b = temp_number_b * (2**1)

decimal_a = temp_number_a * (2**0)

# Calculate sum of decimal value using addition operations.
# Print the decimal value.
sum = decimal_d + decimal_c + decimal_b + decimal_a
print("The decimal value is: ", sum)

The decimal value is:  11

In [23]:
# Convert a binary number to decimal
binary_number = "1011"
decimal_representation = int(binary_number, 2)  # Convert from base 2 to decimal
print(f"The decimal representation of binary {binary_number} is {decimal_representation}")

The decimal representation of binary 1011 is 11